$navy--dark: #19293a;
$navy--medium: #112d40;
$navy--light: #506473;

$white: #fff;

$lightgrey--light: #19293a1a;
$lightgrey--ligher: #edeff1;

$mediumgrey--dark: #596d7a;
$mediumgrey--medium: #50647380;
$mediumgrey--light: #9ea9b1;

$pink--dark: #c0345e;
$pink--medium: #c34465;
