.header__wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: transparent;
  transition: all 200ms ease-in-out;
  padding: 0rem 2rem;

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 0rem;
    max-width: 100%;

    @media (min-width: 1400px) {
      max-width: 1500px;
    }

    @include for-lg-tablet {
      height: 120px;
      background-color: $white;
    }

    @include for-lg-phone {
      padding: 2rem;
      height: 100px;
    }

    // ------- LOGO

    .Logo {
      height: 70px;
      max-height: 100%;
      @include for-lg-tablet {
        height: 60px;
      }
    }

    // -------- DESKTOP NAV

    ul.nav--desktop {
      list-style: none;
      display: flex;
      gap: 4rem;

      @include for-sml-desktop {
        gap: 3rem;
      }

      @include for-lg-tablet {
        display: none;
      }

      .nav-item {
        font-size: 1rem;
        text-decoration: none;
        font-weight: 600;
        transition: all 150ms ease;
        display: inline-block;
        position: relative;
        color: $white;

        &:hover {
          opacity: 0.9;
        }

        &:active {
          scale: 0.9;
        }

        &::after {
          content: '';
          opacity: 0;
          width: 100%;
          height: 2px;
          position: absolute;
          transition: opacity 200ms ease;
          bottom: -0.3rem;
          left: 0;
          background-color: $white;
        }

        &.active {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    .hamburger-btn {
      z-index: 2;
    }
  }
}

// add header w-bg

.header__wrapper.white-bg {
  background-color: $white;
  box-shadow: 0px 3px 20px 4px rgba(176, 176, 176, 0.154),
    0px -4px 6px 2px rgba(171, 171, 171, 0.142);

  .header__content {
    ul.nav--desktop {
      .nav-item {
        color: $navy--medium;
        &::after {
          background-color: $pink--dark;
        }
      }
    }
  }
}

// hide on scroll down

.header__wrapper.scroll-hide {
  transform: translateY(-120%);
}

// nav mobile
nav.nav--mobile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $navy--dark;
  z-index: 1;
  top: 130px;
  padding: 2rem;
  padding-top: 6rem;
  transition: all 150ms ease;

  &.scroll-up {
    top: 0px;
  }

  @include for-lg-tablet {
    top: 120px;
  }

  @include for-lg-phone {
    top: 100px;
  }

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 3rem;

    button.nav-item {
      background-color: unset;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 2rem;
      text-decoration: none;
      font-weight: 800;
      // text-transform: uppercase;
      letter-spacing: -0.8px;
      transition: all 150ms ease;
      font-family: $open_sans;

      display: inline-block;
      position: relative;
      color: $white;

      &:hover {
        opacity: 0.8;
      }

      &.active {
        color: $pink--dark;
      }
    }
  }
}
